
﻿@ExtraCaption
@inject HttpClient Http


@if (Error)
{
    <div class="alert alert-danger" role="alert"></div>
}

<table class="table">
    <thead>
<tr>
            <th scope="col">Device Id</th>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in DeviceLst)
        {
            <tr>
                <td scope="row">@device.DeviceId</td>
                <td scope="row">@device.Location</td>
                <td scope="row">@device.Date</td>
                <td scope="row">@device.DeviceType</td>
                <td scope="row">@device.Status</td>
                <td scope="row"><a href="@($"deviceview/{device.DeviceId}")" class="btn btn-outline-primary">View</a></td>
                <td scope="row"><a href="@($"deviceupdate/{device.DeviceId}")" class="btn btn-outline-primary">Update</a></td>
                <td scope="row"><a href="@($"devicedelete/{device.DeviceId}")" class="btn btn-outline-primary">Delete</a></td>

            </tr>
        }
    </tbody>
</table>
<a href="@($"deviceadd")" class="btn btn-outline-primary">Add new Device</a>
<br />Return from API:
<br />
@responseData
<br />
<br />